/* *********************************************************************** */
/* Index */
/*html , body
{
    overflow-y: hidden;
}*/

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #6c757d17;
    height: 100%;
}

.card {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    width: 286px;
    height: 262px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.1);
}

#newUserBtn {
    position: absolute;
    top: 100px;
    left: 400px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    background-color: white;
    border-radius: 0.375rem;
}

.dropdown-content {
    margin-left: 8px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 8px 24px;
}

.logoutbtn {
    background-color: #b72025;
    color: #fff !important;
}

.logoutbtn:hover{
    background-color: #B32626;
    color: white;
}

.regbtn {
    margin-right: 16px; 
    background-color: #6c757d17;
}

.regbtn:hover {
    border: 1px solid black; 
}

.navbarvr {
    background-color: #cd2929;
    height: 50px; 
    margin: 8px 10px 0 -8px; 
    padding: 1px;
}

.welcome {
    margin: 40px 0 40px 36px;
}

.d1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allintakes {
    margin: auto 36px;
}

.container {
    margin-top: 100px;
}

/* ********************************************************* */
/* Track */

/*.nav-title {
    font-size: 24px;
}*/

.navs {
    font-size: 16px;
}

.r1 {
    padding-top: 40px;
    padding-bottom: 16px;
    padding-right: 52px;
    display: flex;
    justify-content: space-between;
}

.filter-btn {
    background-color: white;
    margin-left: 16px;
}

.filter-btn:hover {
    border: 1px solid black;
}

.table {
    /*margin-left: 48px;*/
    text-align: left;
}


/* 3 dots options */
.options-menu .btn-secondary {
    padding: 0.375rem 0.5rem;
}

.options:not(:last-child) {
    margin-bottom: 8px;
}

.options {
    padding: 8px;
}

/* .track-card {
    background: url(assets/images/trackwallpaper.jfif);
    width: 286px;
    height: 262px;
} */


/* ***************************************************************** */
/* Footer (Pagination) */

.footer {
    display: grid;
    place-items: end end;
    height: 100%;
    margin-right: 65px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.sidebar {
    /*flex: 0 0 19%;*/
    background-color: #f8f9fa;
}

.content {
    flex: 1;
    /* background-color: #6c757d17; */
}

#myTable {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 6px;
    overflow: hidden;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #e2e3e5; /* this draws the table border  */
}


.popover-body {
    padding: 8px;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.act {
    background-color: #1877F2;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-left: 16px;
}

/* ********************************************************************* */
/* floating screen */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.floating-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.floating-screen.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.floating-screen h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.floating-screen p {
    margin-bottom: 20px;
}

/* ********************************************************************* */
/* courses */

.box {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    margin: 16px;
}


/* ********************************************************************* */
/* upload btn */

.file {
    position: relative;
    overflow: hidden;
}

input[type="file"] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.courseBtns {
    border: 1px solid #c0c0c0;
    margin-left: 8px;
}

.courseBtns:hover {
    background-color: #cececc;
}

/*preloader*/
#preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f2f4f8;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#preloader {
    overflow: hidden;
    background-color: #f2f4f8;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#preloader img {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 8;
    -webkit-animation: 2000ms linear 0s normal none infinite running itiHub-thumb;
    animation: 2000ms linear 0s normal none infinite running itiHub-thumb;
    display: table;
    margin: 0 auto;
}

.itiHub-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running itiHub-load;
    animation: 2000ms linear 0s normal none infinite running itiHub-load;
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff #ffffff #901b20;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 150px;
    position: absolute;
    width: 150px;
    z-index: 10;
    display: table;
    margin: 0 auto;
}

@-webkit-keyframes itiHub-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes itiHub-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes itiHub-thumb {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes itiHub-thumb {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
/* navbar*/
.navbar-brand {
    padding-left: 1.5rem;
}

.iti-hub-devider {
    border-left: 2px solid #901b20;
    height: 50px;
    position: absolute;
    left: 75px;
    top: 20px;
}

    .iti-hub-devider span {
        position: relative;
        top: 10px;
        left: 5px;
    }

.navbar-user-buttons a {
    margin-right: 10px;
}
/*details-for-student*/
.details-for-student .details-for-student-box {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
}
.details-for-student .details-for-student-box a h2
{
    font-size: 1.5rem;
    padding: 10px;
}

.details-for-student .r1 {
    padding-right: 0;
    padding-bottom: 30px;
    display: block;
}
.details-for-student .r1 h3 
{
    padding-bottom: 10px;
}
.course-day-details .r1
{
    padding-right: 0;
}
.course-day-table svg
{
    width: 15px;
    height: 27px;
}
.exam-index table th
{
    width: 10%;
}
.days-card-container .days-card {
    display: flex;
    justify-content: center;
}


 

/*animation*/
.slide-down {
    -webkit-animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

/*welcome message animation*/

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from, to {
        border-color: transparent
    }

    50% {
        border-color: #f1f2f3;
    }
}

/* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #000;
}

    .hvr-bounce-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #999;
        color: #000;
        border-radius: 9px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

/*    .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
        color: #000 !important;
    }

        .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }*/

/*animation for cards*/
.sidebar_animation .hvr-bounce-to-right {
    display: block;
}

    .sidebar_animation .hvr-bounce-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1877f2eb;
        color: #000;
        border-radius: 6px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

   /* .sidebar_animation .hvr-bounce-to-right:hover, .sidebar_animation .hvr-bounce-to-right:focus,
    .sidebar_animation .hvr-bounce-to-right:active {
        color: #000 !important;
    }

        .sidebar_animation .hvr-bounce-to-right:hover:before, .sidebar_animation .hvr-bounce-to-right:focus:before,
        .sidebar_animation .hvr-bounce-to-right:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }

        .sidebar_animation .hvr-bounce-to-right:hover span {
            color: #fff !important;
        }*/

.sidebar_animation li {
    padding: 10px 0;
}

/*Media query*/
@media (max-width: 991px) {
    .iti-hub-devider {
        left: 49px;
    }
    .navbar-brand {
        padding-left: 0;
    }
    .sidebar
    {
        padding-top: 1rem;
    }

    .nav-title {
        font-size: 14px;
        padding-top: 10px;
    }

    .details-for-student .details-for-student-box {
        display: table;
        margin: 0 auto;
    } 
    .course-day-details .r1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-right: 0;
    }
    .course-day-details .r1 h3 {
        font-size: 18px;
    }
    .course-day-details .courseBtns
    {
        font-size: 12px;
    }
    .course-day-details .day1-material
    {
        justify-content: center;
    }

    .course-day-table th {
        font-size: 12px;
        width: 18%;
    }
    .course-day-table a {
        padding: 2px 8px;
        font-size: 10px;
    }
    .course-day-table td {
        font-size: 10px;
    }
    .course-day-table svg {
        width: 11px;
        height: 22px;
    }
    .exam-index table {
        width: 150%;
    }
    .exam-index table th {
        width: auto;
        font-size: 12px;
    }
    .exam-index table td{
        font-size: 10px;
    }
    .days-card-container .days-card {
        display: table;
        margin: 0 auto;
    }

}


@media (min-width: 425px) and (max-width: 691px) {
  
    nav form#logoutForm button {
        font-size: 14px;
    }

    .wrapper .circle 
    {
        width: 80px;
        height: 80px;
        top: -40px;
    }
    .wrapper .circle img
    {
        width: 50px;
        height: 50px;
    }
    .wrapper .content p {
        font-size: 24px;
    }
    .wrapper .content .para
    {
        font-size: 14px;
    }
    .card1
    {
        width: 270px !important;
    }
    .exam-index table {
        width: 280%;
    }

}

@media (min-width:543px) and (max-width:638px) {
    .sidebar a {
        font-size: 10px;
        padding: 8px;
    }
}

@media (min-width: 1147px) and (max-width:1325px) {
    .sidebar a {
        font-size: 10px;
        padding: 8px;
    }
}
@media (min-width:884px) and (max-width:955px) {
    .sidebar a {
        font-size: 12px;
        padding: 8px;
    }
}