@model IEnumerable<Course>

<div class="col-md-10 text-center content">
    <div class="container-fluid">
        <div class="row col-md-12">
            <div class="r1">
                <h3 style="padding-left: 33px;">Courses you study in @ViewBag.TracKName track</h3>
                <div>
                    <a href="#" class="btn courseBtns">Show all exams</a>
                </div>
            </div>
        </div>
        <div class="container" style="flex-wrap: wrap; justify-content: center; width: 999px; margin-top: 16px;">
            @foreach (var course in Model)
            {
                <a class="box" asp-action="Index"
                               asp-route-Id=@course.ID
                               asp-route-Name=@course.Name
                               asp-controller="CourseDay">
                    <h2>@course.Name</h2>
                </a>
            }
        </div>
    </div>
</div>
